//
// assets/scss/base/_utils.scss
//

// Other Common utility classes
.#{$theme-prefix}max-width-on-larger-screens {
    @include media-breakpoint-up(xl) {
        max-width: 80%;
    }
}

.#{$theme-prefix}img-fitbox {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.img-small {
    width: 33%;
}

.img-link {
    z-index: 100;
}
