{{- $classPrefix := partial "_theme.html" -}}
{{ $date := .Date.Format "02.01.2006" }}
{{ $lastmod := .Lastmod.Format "02.01.2006" }}


<div class="{{ $classPrefix }}posts-item-content">
    <h1>{{ .Title }}</h1>

    <header class="{{ $classPrefix }}posts-item-written clearfix text-muted mb-3">
        <div class="row">
            <div class="col-md-6">
                {{ .CurrentSection.LinkTitle }} post
                {{ partial "articles/authors.html" . }}
            </div>
            <div class="col-md-6 text-end">
                <div>{{ partial "articles/date.html" . }}</div>
                <div>{{ partial "articles/lastmod.html" . }}</div>
            </div>
        </div>
    </header>

    {{ with .Params.description }}
        {{ $showDescription := $.Param "showDescription" | default false }}
        {{ if $showDescription }}
            <div class="article-lead">{{ . | markdownify }}</div>
        {{ end }}
    {{ end }}

    <header class="{{ $classPrefix }}posts-item-taxonomy clearfix text-muted mb-2">
        <div class="row">
            <div class="col-md-6">
                <div class="addthis_inline_share_toolbox"></div>
            </div>
            <div class="col-md-6">
                <div class="d-flex flex-column justify-content-end text-end">
                    {{ partial "articles/taxonomy.html" . }}
                    {{ partial "articles/reading-time.html" . }}
                </div>
            </div>
        </div>
    </header>

    <div class="px-0 {{ $classPrefix }}content">
        {{ .Content }}
    </div>

</div>
