{{- $classPrefix := partial "_theme.html" -}}

{{ $blockID := printf "%scover-block-%d" $classPrefix .Ordinal }}

{{ $col_id := .Get "color" | default "dark" }}
{{/* Height can be one of: auto, min, med, max, full. */}}
{{ $height := .Get "height" | default "max" }}
{{ $image_anchor := .Get "image_anchor" | default "smart" }}
{{ $logo_anchor := .Get "logo_anchor" | default "smart" }}
{{ $byline := .Get "byline" | default "" }}

{{ $background_image := (.Page.Resources.ByType "image").GetMatch "**background*" }}
{{ $logo_image := (.Page.Resources.ByType "image").GetMatch "**logo*" }}

{{ with $background_image }}
    {{ $background_image_big := (.Fill (printf "1920x1080 %s" $image_anchor)) }}
    {{ $background_image_small := (.Fill (printf "960x540 %s" $image_anchor)) }}
    <link rel="preload" as="image" href="{{ $background_image_small.RelPermalink }}" media="(max-width: 960px)" />
    <link rel="preload" as="image" href="{{ $background_image_big.RelPermalink }}" media="(min-width: 960px)" />
    <style>
    #{{ $blockID }} {
        background-image: url({{ $background_image_small.RelPermalink }});
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    @media only screen and (min-width: 960px) {
        #{{ $blockID }} {
            background-image: url({{ $background_image_big.RelPermalink }});
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
    </style>
{{ end }}


<section
    id="{{ $blockID }}"
    class="row {{ $classPrefix }}cover-block {{ $classPrefix }}cover-block--height-{{ $height }}
    {{ $classPrefix }}overlay {{ $classPrefix }}overlay--dark -bg-{{ $col_id }}
    {{/* prettier-ignore-start */}}
    {{- if .Site.Params.ui.navbarTransparentOverCover }} js-navbar-scroll-cover-content{{ end -}}
    {{/* prettier-ignore-end */}}"
>
    <div class="col-12 px-0">
        <div class="container {{ $classPrefix }}section-container {{ $classPrefix }}overlay--inner">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        {{ with .Get "title" }}
                            <h1 class="display-1 mt-0 mt-5 pb-4">
                                {{- $title := . -}}
                                {{- with $logo_image -}}
                                    {{ $logo_image_resized := (.Fit (printf "70x70 %s" $logo_anchor)) }}<img
                                        class="{{ $classPrefix }}cover-logo"
                                        src="{{ $logo_image_resized.RelPermalink }}"
                                        alt="{{ $title | html }} Logo"
                                    />
                                {{ end -}}
                                {{- $title | html -}}
                            </h1>
                        {{ end }}
                        {{ with .Get "subtitle" }}
                            <p class="display-2 text-uppercase mb-0">{{ . | html }}</p>
                        {{ end }}
                        <div class="pt-3 lead">
                            {{ if eq .Page.File.Ext "md" }}
                                {{ .Inner | markdownify }}
                            {{ else }}
                                {{ .Inner | htmlUnescape | safeHTML }}
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ if $byline }}
        <div class="byline">
            <small>{{ $byline }}</small>
        </div>
    {{ end }}
</section>
