{{- $classPrefix := partial "_theme.html" -}}

{{ $col_id := .Get "color" | default .Ordinal }}
{{/* Height can be one of: auto, min, med, max, full. */}}
{{ $height := .Get "height" | default "auto" }}

{{ $innerType := .Get "innerType" | default "" }}
{{ $type   := .Get "type" | default "" }}


<a id="{{ $classPrefix }}block-{{ .Ordinal }}" class="{{ $classPrefix }}offset-anchor"></a>
<section
    class="row {{ $classPrefix }}box {{ $classPrefix }}box--{{ $col_id }} {{ $classPrefix }}box--gradient {{ $classPrefix }}box--height-{{ $height }}"
>
    {{/*  */}}
    <div class="col-12">
        <div class="container {{ $classPrefix }}section-container {{ $type }}">
            <div class="{{ $classPrefix }}content">
                {{ $wrappedTable := printf "<div class=\"table-wrapper\"> ${1} </div>" }}

                {{ if eq $innerType "html" }}
                    {{ .Inner | htmlUnescape | replaceRE "(<table>(?:.|\n)+?</table>)" $wrappedTable | safeHTML }}
                {{ else if eq $innerType "md" }}
                    {{ .Inner | markdownify | replaceRE "(<table>(?:.|\n)+?</table>)" $wrappedTable | safeHTML }}
                {{ else }}
                    {{ if eq .Page.File.Ext "md" }}
                        {{ .Inner | markdownify | replaceRE "(<table>(?:.|\n)+?</table>)" $wrappedTable | safeHTML }}
                    {{ else }}
                        {{ .Inner | htmlUnescape | replaceRE "(<table>(?:.|\n)+?</table>)" $wrappedTable | safeHTML }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
    {{/*  */}}
</section>
