{{- $classPrefix := partial "_theme.html" -}}

{{ $breadcrumb := (split .Page.RelPermalink "/") }}
{{ $breadcrumb_index := (sub (len $breadcrumb) 2) }}
{{ $lang := .Page.Lang }}


<nav aria-label="breadcrumb" class="{{ $classPrefix }}breadcrumbs">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ .Site.Home.RelPermalink }}">
                <div class="d-inline-block fw-semibold">{{ .Site.Params.home | default "Home" }}</div>
            </a>
        </li>
        {{ $.Scratch.Set "path" "" }}
        {{ range first $breadcrumb_index $breadcrumb }}
            {{ if and (gt (len .) 0) (ne . $lang) }}
                {{ $path := $.Scratch.Get "path" }}
                {{ $path := printf . | printf "%s/%s" $path }}
                {{ $.Scratch.Set "path" $path }}
                <li class="breadcrumb-item">
                    {{ $page := $.Site.GetPage $path }}
                    <a href="{{ $path | relLangURL }}">
                        {{ if $page.Title }}
                            <div class="d-inline-block fw-semibold">{{ $page.Title }}</div>
                        {{ else }}
                            <div class="d-inline-block fw-semibold">{{ T . | default . }}</div>
                        {{ end }}
                    </a>
                </li>
            {{ end }}
        {{ end }}
        <li class="breadcrumb-item active fw-bold" aria-current="page">
            {{ .Page.Title }}
        </li>
    </ol>
</nav>
