//
// assets/scss/layouts/partials/_breadcrumbs.scss
//

// Styles for layouts/partials/breadcrumb.html

// Layout
.#{$theme-prefix}breadcrumbs {
    .breadcrumb {
        padding-left: 0;
        padding-top: 0;
    }
}

// Styles for "print" media
.#{$theme-prefix}breadcrumbs {
    @media print {
        display: none !important;
    }
}
